.sonar
*.versionsBackup
node_modules
jsx
GSYMS
GRTAGS
GTAGS
gtags.files
/tags
.DS_Store
*.swp
.svn
tools/publish/2*.txt
tools/publish/names.txt
tools/publish/names.json
tools/newPublish/2*.log
tools/newPublish/2*.txt
tools/newPublish/*.js
tools/newPublish/names.json
tools/newPublish/local-release.conf
tools/newPublish/log.txt
target/
.groovy/
.classpath
.metadata
.project
.settings
upload_temp_dir/
RemoteSystemsTempFiles
upload_temp_dir/
src/main/webapp/h
src/main/webapp/s
src/main/webapp/pub
bin/
src/main/resources/biz.properties
src/main/resources/conf/hessianClient.properties
src/main/resources/db.properties
src/main/resources/log4j.xml
src/main/resources/springMVC.properties
src/main/resources/antispam-jms.properties
src/main/resources/blackurl-client.properties
src/main/resources/disconf.properties
.sass-cache
D:/
logs/
/test-output/
edu-base-test/test-output/
*~
.idea/
*.iml
localjetty.bat
npm-debug.log
*.map
*.reviewboardrc
*.log
/build/
disconf/
sh.exe.stackdump
${dubbo_registry_file}*
moc-component.ipr
moc-component.iws